@font-face {
    font-family: proxima nova;
    src: url(fonts/Proxima\ Nova\ Regular\ Webfont.ttf);
}
@font-face {
    font-family: proxima nova thin;
    src: url(fonts/Mark\ Simonson\ \ Proxima\ Nova\ Thin.otf);
}